/*1. Да се направи елемент во форма на правоаголник кој што има ширина од 
345 пиксели и висина
од 75 пиксели. Позадинската боја треба да биде lightblue, border-ot да има 
црна боја со ширина од 12 пиксели, додека пак padding-ot да биде поставен 
само на левата и десната страна. Да се пресмета
вкупната ширина и висина и ширината и висината на содржината на 
елементот(content box width, content box height) при употребува на 
box-sizing: content-box и box-sizing: border-box
*/

/*  box-sizing: content-box;
     Content box width: 345px 
     Content box height: 75px 
     Total width: 345px + 2*5px + 2*12px = 379px
     Total height: 75px + 2*0px + 2*12px = 99px */

#prv_pravoagolnik{
    width: 345px;
    height: 75px;
    border: 12px solid black;
    padding: 0 5px 0 5px;
    background-color: lightblue;
    box-sizing:content-box;
}

/*  box-sizing: border-box;
     Total width: 345px 
     Total height: 75px 
     Content box width: 345px - 2*5px - 2*12px = 311px
     Content box height: 75px - 2*0px - 2*12px = 51px */

     #vtor_pravoagolnik{
        width: 345px;
        height: 75px;
        border: 12px solid black;
        padding: 0 5px 0 5px;
        background-color: lightblue;
        box-sizing: border-box;
     }