/*2. Да се направи register страница и истата да се уреди преку CSS кој што 
ќе биде посебен фајл каде што ќе се дефинира стилот на самата страна. 
Register страната потребно е да содржи: Name, Email, Company name, Phone 
number и Message полиња за пополнување. Под овие елементи, да се додаде 
едно checkbox поле кое што од десната страна ќе има текст содржина: "I 
have read and accept the Privacy Policy". Зборовите privacy Policy треба 
да бидат во жолта боја и кога корисникот ќе кликне на нив треба да се 
отвори страницата: https://www.testing.com/privacy-policy/ во нов таб. 
Најдолу од формата потребно е да имаме Submit копче кое што при 
позиционирање на маусот врз него, ќе се менува големината на фонтот за 2 
пиксели и бојата на текстот. Сите елементи треба да бидат центрирани и да 
се употребат најмалку 2 CSS селектори.

Примери за форми за регистрација: 
https://www.google.com/search?q=register+form&rlz=1C5CHFA_enMK985MK985&source=lnms&tbm=isch&sa=X&ved=2ahUKEwigrL6nm5P-AhW_hP0HHT8QCGQQ_AUoAXoECAEQAw
*/

body{
    background-color:  rgb(32, 106, 106);
}

.container{
    width: 250px;
    height: 350px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: rgb(110, 110, 169);
    font-size: 12px;
    font-family: sans-serif;
    border-radius: 5px;
}

h3{
    text-align: center;
    padding: 10px;
    padding-bottom: 7px;
    margin: 0 auto;
}

form{
  width: 180px;
  height: 300px;
  margin: 0 35px 0 35px;
  
}

input{
    width: 170px;
    height: 22px;
    margin-bottom: 5px;
    outline: none;
}

textarea{
    width: 170px;
    height: 22px;
    margin-bottom: 5px;
    outline: none;  
}

label{
    font-size: 12px;
}

.box{
    width: 10px;
    height: 10px;
    margin: 0 auto;
    font-size: 9px;  
}

#link_tag{
    font-size: 9px;
}

.submit-btn{
    border 2px 20 px 0 5px;
    margin: 27px 62px 0 62px;
}

.submit-btn:hover{
    font-size: 14px;
    color: red;
}




