*{
    margin: 0; /* vnater nema nikoj element da ima margin p tag a anchor ili h1...6 kako primer */
}

.card-container{
    width:500px;
    height:400px;
    background-color: antiquewhite;
    margin: 100px auto; /* da nie vednash carticjkata centrirana za da ne komplicirame posle */
    border-radius: 10px;
        position: relative;
}

.img-round{   
    position: absolute;
    margin: 0 auto; /* bez da stavime dolu left i right 0 nema da raboti mrgin: 0 auto provereno vo inspect !*/
    left: 0;
    right: 0;
    top: -58px;
    width: 120px;
    height: 120px;
    /* a mozhe i so bottom: 340px; */
    border-radius: 50%;
    background-color: brown;
    border: 2px solid red;
}

.card-content{
    width: 450px;
    height: 250px;
    background-color: rgb(168, 115, 217);
    margin: 0 auto;
    /* so text-align: center ne ja biva bash */
    display: flex;
    flex-direction: column; /* align-items: odi so column BITNO* a koga imame flex-direction: row odi so justify-content: */
    align-items: center;
}