*{
    margin: 0; /* vnater nema nikoj element da ima margin p tag a anchor ili h1...6 kako primer */
}

body{
    background: linear-gradient(to bottom, #b39ddb, #f48fb1, #ffcc80);
}

.card-container{
    width:500px;
    height:400px;
    background-color: #ffffff;
    margin: 100px auto; /* da nie vednash carticjkata centrirana za da ne komplicirame posle */
    border-radius: 10px;
    position: relative;
}

.img-round{   
    position: absolute;
    margin: 0 auto; /* bez da stavime dolu left i right 0 nema da raboti mrgin: 0 auto provereno vo inspect !*/
    left: 0;
    right: 0;
    top: -58px;
    width: 120px;
    height: 120px;
    /* a mozhe i so bottom: 340px; */
    border-radius: 50%;
    background-image: url("https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cmFuZG9tJTIwcGVvcGxlfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    border: 4px solid rbg(133,49,133);
    box-shadow: 0px 0px 20px 2px #9e52e5;
}

.card-content{
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    width: 450px;
    height: 310px;
    margin: 0 auto;
    /* so text-align: center ne ja biva bash */
    display: flex;
    flex-direction: column; /* align-items: odi so column BITNO* a koga imame flex-direction: row odi so justify-content: */
    align-items: center;
    justify-content: space-evenly;
    font-family: sans-serif;
}

.details{
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h3{
    color: rgb(133, 49, 133);
}

.country{
    font-size: 14px;
    font-weight: 600;
}

.additional-info{
    width: 310px;
    display: flex;
    justify-content: space-between;
}

.info{
    font-size: 19px;
    font-weight: 600;
}  

.info span{
    font-size: 12px;
    color: gray;
}

.social-media-links{
    width: 390px;
    display: flex;
    justify-content: space-between;
}

img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.buttons{
    width: 130px;
    height: 35px;
    border-radius: 20px;
    color: white;
    border: none;
}

.message-btn{
    background: linear-gradient(to right, #3b5998, #6699cc);
}

.follow-btn{
    background: linear-gradient(to right, #f58529, #f4b17b);
}

